.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
}

main {
  transform: scale(1);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.generate-div {
  padding: 0rem;
  padding-bottom: 1rem;
}

h1 {
  font-size: 30pt;
}

.generate-input-div {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  font-size: 20pt;
  border-radius: 1rem;
}

.generate-input-div > input {
  padding: 0.5rem;
  font-size: 20pt;
  border-radius: 1rem;
  width: 30rem;
}

.generate-label-lower,
.generate-label-upper {
  padding-left: 1rem;
  width: 15rem;
}

.meme-div {
  position: relative;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 36pt;
  padding-bottom: 1rem;
}

.meme-div > img {
  background: black;
}
.meme-text-upper {
  position: absolute;
  top: -2rem;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, 50%);
  text-shadow: 4px 0px 2px black;
}

.meme-text-lower {
  position: absolute;
  bottom: 3.6rem;
  left: 50%;
  transform: translate(-50%, 50%);
  text-shadow: 4px 0px 2px black;
}

.meme-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  transform: scale(1.5);
  padding-bottom: 2rem;
}

.meme-buttons > button {
  padding: 5px;
  border-radius: 0.5rem;
}

.meme-download {
  padding-top: 1rem;
  background: darkred;
}

.meme-download-header {
}
