.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
}

main {
  transform: scale(1);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.generate-div {
  padding: 0rem;
  padding-bottom: 1rem;
}

h1 {
  font-size: 30pt;
}

.generate-input-div {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  font-size: 20pt;
  border-radius: 1rem;
}

.generate-input-div > input {
  padding: 0.5rem;
  font-size: 20pt;
  border-radius: 1rem;
  width: 30rem;
}

.generate-label-lower,
.generate-label-upper {
  padding-left: 1rem;
  width: 15rem;
}

.meme-div {
  position: relative;
  /* font-family: 'Paytone One', sans-serif;
  font-family: 'Anton', sans-serif; */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 38pt;
  /* font-stretch: narrower; */
  font-weight: 500;
  padding-bottom: 1rem;
}

.adjust-div {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.meme-div > img {
  background: black;
}
.meme-text-upper,
.meme-text-lower {
  position: absolute;
  /* width: 100%; */
  white-space: nowrap;
  left: 50%;
  transform: translate(-50%, 0%);
  text-shadow: -1px -1px 10px #000, 3px -1px 2px #000, -1px 1px 2px #000,
    1px 1px 0 #000;
}

.meme-text-upper {
  top: 0px;
}

.meme-text-lower {
  bottom: 35px;
}

.meme-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

button {
  cursor: pointer;
  border-width: 3px;
  border-radius: 0.5rem;
  width: 10rem;
  font-weight: bold;
  padding: 0.4em;
  font-size: 14pt;
}

button:hover {
  background: coral;
}

.button-fs {
  font-size: 11pt;
  width: 4rem;
}

.meme-download {
  padding-top: 1rem;
  background: darkred;
}

.meme-download-header {
  margin-bottom: 0;
}

.meme-download-header-descr {
  margin-bottom: 1rem;
  font-weight: lighter;
  font-size: smaller;
}

.file-upload label {
  cursor: pointer;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
